body{
    display:flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
}

div{
    justify-content: center;
    align-items: center;
    width:55%;
    height:60%;
    border: solid black 1px;
    border-radius: 5px;
    margin : 5px;
    padding :10px;
    display:flex;
    flex-direction: column;
    background-color:antiquewhite;
}
div:nth-of-type(2n){
    justify-content: center;
    align-items: center;
    width:55%;
    height:60%;
    border: dotted black 1px;
    border-radius: 5px;
    margin : 5px;
    padding :10px;
    display:flex;
    flex-direction: column;
    background-color: gainsboro;

}

img {
    width: 450px;     
    height: 450px;
    object-fit: cover;  
    border-radius: 10px;
    margin: 10px;
}