<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Logged In</title>
</head>
<body>
    <h1>Welcome <%= username.toUpperCase()%> </h1>
    <form action="/Logout" method="POST">
        <input type = "submit" value = "Log Out">
    </form>
</body>
</html>